<div class="navigation">
  <button class="logo-nav" [routerLink]="['/']">PROJECT<span class="logoseparator">/</span>HORIZON</button>
  <!-- <button class="login-nav" [routerLink]="['/login']">LOGIN</button> -->
</div>

<div class="routercontainer">
  <app-notification></app-notification>
  <router-outlet></router-outlet>
  <div class="cornerexplanation">
      <b>WELCOME TO HORIZON ANGULAR FRONTEND ▶</b>
      <hr>
      <div class="explanationcontainer">
          WHAT IS THIS?<br>
          This is basically a web application that is used as a showcase of my works.
          It is a frontend application version of the Horizon Project.
      </div>
  </div>
  <button class="devcorner">DEV NOTES</button>
</div>