.navigation {
    background-color: #111;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #1c1c1c;
}

.logoseparator {
    color: #3498db;
}

.routercontainer {
    background-color: #111;
    margin: 20px;
    padding: 0;
    width: calc(100% - 40px);
}

.logo-nav, .logo-nav:not(:hover) {
    background-color: #111;
    border: 0;
    color: #777;
    font-weight: 600;
    height: 100%;
    padding: 10px;
    width: max-content;
    white-space: nowrap;
    transition: color 0.4s ease;
    font-family: 'Roboto', sans-serif !important;
}

.logo-nav:hover {
    color: #fff;
}

.login-nav, .login-nav:not(:hover) {
    background-color: #111;
    border: 0px;
    color: white;
    font-weight: 600;
    font-size:12px;
    height: calc(100% - 10px);
    margin: 5px 0;
    padding: 5px;
    float: right;
    width: 70px;
    border-radius: 100px;
}

.login-nav:hover {
    background-color: #1c1c1c;
}

.cornerexplanation {
    background-color: #111;
    width: 50%;
    max-width: 500px !important;
    margin: 0;
    padding: 10px;
    border: 1px solid #1c1c1c;
    position: fixed;
    bottom: 70px;
    right: 20px;
    color: white;
    font-size: 11px !important;
}

.devcorner {
    background-color: #111;
    height: 40px;
    margin: 0;
    padding: 0px 10px;
    border: 1px solid #1c1c1c;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 10px;
}

.explanationcontainer {
    width:calc(100% - 5px);
    padding:0 5px 0 0;
    max-height: 300px;
    overflow-y: scroll;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}