/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: 'Roboto', sans-serif !important;
}

hr {
    height: 1px;
    border: none;
    background-color: #333;
    margin: 5px 0;
}

/* scrollbarstyle start*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #0f0f0f;
}
::-webkit-scrollbar-thumb {
    background-color: #222;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
}
/* scrollbarstyle end */