.notification {
    max-width: 500px !important;
    padding: 10px 20px;
    color: #fff;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 10px;
}

.notificationcontainer {
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 9999;
}

.notificationtextcontainer {
    padding: 10px 60px 10px 20px;
}

.warning {
    background-color: #f1c40f;
    color: #000 !important;
}

.info {
    background-color: #3498db;
}

.success {
    background-color: #27ae60;
}

.error {
    background-color: #e74c3c;
}